{% extends 'base.html' %}
{% block extra_css %}
    .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container {
    padding: 2px 16px;
    }
{% endblock extra_css %}
{% block content %}



    {% for article in articles %}
        <div style="margin-bottom: 10px">
        <a href="article/{{ article.id }}/">
            <div class="card">

                <div class="container">
                    <h4><b>{{ article.title }}</b></h4>
                    <p>{{ article.content }}</p>
                </div>
            </div>
        </a>
        </div>

    {% endfor %}


{% endblock content %}